{% extends "layout.html" %}
{% block title %}Change Password{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="form">
    <h1>Change Password</h1><br/>
    <form name="change_password" method="post" action="/change_password">
        <input type="text" name="email" id="email" placeholder="Email address"/><br/><br/>
        <input type="password" name="old_password" id="old_password" placeholder="Old Password"/><br/><br/>
        <input type="password" name="new_password" id="new_password" placeholder="New Password"/><br/><br/>
        <input type="password" name="repeat_new_password" id="repeat_new_password"
               placeholder="Repeat New Password"/><br/><br/>
        <button type="submit" name="submit">Change Password</button>
        </br></br></br>
    </form>
    <div class="error-block">
        {% for line in status_message %}
        <div>{{ line }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}