{% extends "layout.html" %}
{% block title %}Reset Password Email Template{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
            a:hover {text-decoration: underline !important;}













</style>
{% endblock %}

{% block content %}
<div class="">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Request to reset your password</h2>
        <p>
            We cannot simply send you your old password.
            To reset your password, please provide your email address:
        </p>

        <form name="forgot_password" method="post" action="/forgot_password" class="row g-3 ">
            <div class="col-md-4 col-sm-6">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email address"/>
            </div>
            <div class="col-auto">
                <button type="submit" name="reset_password" class="btn btn-danger" >
                    Reset Password
                </button>
            </div>
        </form>
        <div class="error-block">
            <div>{{ status_message }}</div>
        </div>
    </div>
</div>

{% endblock %}