{% extends "layout.html" %}
{% block title %}Home page{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="main">
    <div>
        <span><a href="{{url_for('forgot_password')}}"><button>Forgot password</button></a></span>
        <span><a href="{{url_for('change_password')}}"><button>Change password</button></a></span>
    </div>
    <div>
        <table class="my-table">
            <thead>
            <th>Customer name</th>
            <th>Address</th>
            <th>Phone</th>
            </thead>
            {% if customers[0]|length > 0 %} {% for customer in customers %}
            <tr>
                <td>{{ customer[0] }}</a></td>
                <td>{{ customer[1] }}</td>
                <td>{{ customer[2] }}</td>
            </tr>
            {% endfor %} {% endif %}
        </table>
        </br>
        <form action="/add_customer" mehtod="get">
            <button name="redirect_add_customer" type="submit">Add customer</button>
        </form>
    </div>
</div>
{% endblock %}