{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="form">
    <h1>Login</h1><br/>
    <form name="login" method="post" action="/login">
        <input type="text" name="email" id="email" placeholder="Email address"/><br/><br/>
        <input type="password" name="password" id="password" placeholder="Password"/><br/><br/>
        <button type="submit" name="submit">Login</button>
        </br></br></br>
    </form>
    <span style="color: red">
            {% for line in status_message %}
                {{ line }}</br>
            {% endfor %}
        </span>
    <br/><br/>
    <a href="{{url_for('homepage')}}">
        <button>Back to homepage</button>
    </a>
</div>
{% endblock %}
