{% extends "layout.html" %}
{% block title %}Manage users{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-light table-striped table-hover">
            <thead class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Display Name</th>
                <th scope="col">Locked</th>
                <th scope="col">Unlock</th>
                <th scope="col">Delete</th>
            </thead>
            <tbody>
            {% if users[0]|length > 0 %} {% for user in users %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                {% if user[2] == 1 %}
                <td>Yes</td>
                <td>
                    <form name="unlock_user" method="post" action="/manage_users">
                        <input name="email_unlock" id="email_unlock" type="hidden" value="{{ user[0] }}">
                        <button type="submit" name="submit">Unlock</button>
                    </form>
                </td>
                {% else %}
                <td>No</td>
                <td> </td>
                {% endif %}
                <td>
                    <form name="delete_user" method="post" action="/manage_users">
                        <input name="email_delete" id="email_delete" type="hidden" value="{{ user[0] }}">
                        <button type="submit" name="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
   <div class="error-block">
        {% for line in status_message %}
        <div>{{ line }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}