{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    .register-form {
        max-width: 600px;
    }


</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="register-form">
        <h1>Register</h1>
        <form name="register" method="post" action="/register">
            <div class="mb-3">
                <label for="display_name" class="form-label">Your name</label>
                <input type="text" class="form-control" name="display_name" id="display_name"
                       placeholder="Display name"/>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email address"/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
            </div>

            <button type="submit" name="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="error-block">
        {% for line in status_message %}
        <div>{{ line }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}