<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link href="css/main.css" rel="stylesheet">
    </head>
    <body>
      <div class="form">
        <h1>Register</h1><br/>
        <form name="register" method="post" action="/register">
          <input type="text" name="firstname" id="firstname" placeholder="First Name" /><br/><br/>
          <input type="text" name="lastname" id="lastname" placeholder="Last Name" /><br/><br/>
          <input type="text" name="email" id="email" placeholder="Email address" /><br/><br/>
          <input type="password" name="password" id="password" placeholder="Password" /><br/><br/>
          <button type="submit" name="submit">Register</button></br></br></br>
        </form>
        {{ status_message }}
      </div>
    </body>
</html>